<h1>Welcome to the Epicodus Library</h1>

<a href="/admin"><button type="button" class="btn">Admin Portal</button></a>
<a href="/catalog"><button type="button" class="btn">Library Catalog</button></a>
<a href="/patron"><button type="button" class="btn">Patron Portal</button></a>
