<h1>Welcome Patron</h1>

<form action="/patron" method="post">
  <div class="form-group">
    <label for="patron-id">Patron Id:</label>
    <input type="text" name="patron-id" class="form-control">
  </div>
  <button type="submit" class="btn">Sign In</button>
</form>
